// This import works because sass-loader treats the `~` character as in
// instruction to look within node_modules
@use "~ag-grid-community/styles" as ag;

@include ag.grid-styles(( // include multiple theme files and set specific parameters on each
        themes: (custom: (extend-theme: alpine,
                --ag-header-background-color: #EAEBEF,
                --ag-cell-horizontal-padding:10px,
            ),
        ),
        --ag-header-height: 40px,
    ));

.ag-theme-customer {
    border-bottom: 1px solid #D2D2D2;
}

.ag-header-cell {
    font: normal normal bold 14px Pretendard;
    align-items: center;
}

.ag-header-cell-label {
    display: flex;
    justify-content: center;
}

.ag-header-cell-text {
    align-items: center;
}

.ag-row {
    text-align: center;
    font: normal normal normal 14px/16px Pretendard;
}

.left_cell {
    text-align: left;
}

.center_cell {
    text-align: center;
}

.right_cell {
    text-align: right;
}

.ag-row-odd {
    background: #eeeeee;
}