.header_container {
    position: fixed;
    width: 100vw;
    height: 50px;
}
.header {
    display: flex;
    height: 100%;
    margin-left: 200px;
    align-items: center;
    border: 2px solid #E8EAED;
    min-width: 600px;
}
.header_icon {
    height: 100%;
    align-items: center;
    display: flex;
    margin-left: 2px;
    background: #F7F8FC 0% 0% no-repeat padding-box;
}
.header_icon .btn_set_favorite{
    cursor: pointer;
    content: url(Resource/Images/btn_set_favorite.png);
    top: 9px;
    left: 209px;
    width: 40px;
    height: 40px;
}
.header_icon .btn_set_favorite:hover{
    content: url(Resource/Images/btn_set_favorite_hover.png);
}
.header_nav {
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #F7F8FC;
}

.header_userMenu{
    cursor: pointer;
    width: 164px;
    background: #F7F8FC 0% 0% no-repeat padding-box;
    border-right: 1px solid #D1D6DB;
}

.header_userMenu:last-child{
    border : none;
}

.header_userMenu span {
    font: normal normal bold 18px/21px Pretendard;
    letter-spacing: 0px;
    color: #303642;
    cursor: pointer;
}

.header_user{
    margin-left: auto;
    text-align: right;
    font: normal normal normal 18px/21px Pretendard;
    letter-spacing: 0px;
    color: #303642;
    padding-right: 20px;
    white-space: nowrap;
}

.header_userName{
    text-align: right;
    font: normal normal bold 18px/21px Pretendard;
    letter-spacing: 0px;
    color: #303642;
}

.modal_close{
    float: right;
    cursor: pointer;
}

.modal_title{
    text-align: center;
    font-weight: bold;
}

.fav_btn{
    width: 580px;
    display : flex;
    justify-content : center;
    margin-top: 20px;
}

.swal2-container {
    z-index: 1300;
}

.modal_box {
    position: absolute;
    top: 100px;
    width: 650px;
    background-color: #fff;
    border: 2px solid #000;
    box-shadow: 0px 11px 15px -7px rgb(0 0 0 / 20%), 0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%);
    padding: 32px;
}